@model ExploreTandT.Models.UserAccountViewModel

@{
    ViewBag.Title = "Loanlist";
}

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">


            <h2 class="Column2" style="color:black">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Admin/dashboard/" type="button" class="btn btn-primary btn-responsive"> Back</a>
            <p class="listText" style="color:black">List of Loans</p>

            <div class="table-responsive" style="color: #000000">
                <table class="table table-Simple" style="color:black">
                    <thead class="Column1" style="color:black">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfEmployeeLoan[0].Id)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfEmployeeLoan[0].EmployeeId)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listOfEmployeeLoan[0].LoanId)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfEmployeeLoan[0].InstallementId)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfEmployeeLoan[0].AssignDate)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfEmployeeLoan[0].Status)</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listOfEmployeeLoan)
                        {
                        <tr>

                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoanId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstallementId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

