@model ExploreTandT.Models.AdminViewModel

@{
    ViewBag.Title = "Employeelist";
}

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">

            <h2 class="Column2" style="color:black">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Admin/dashboard/" type="button" class="btn btn-primary btn-responsive"> Back</a> 
            <p class="listText" style="color:black">List of Employees</p>

            <div class="table-responsive" style="color:black">
                <table class="table table-Simple" style="color:black">
                    <thead class="Column1" style="color:black">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listofemployees[0].Id)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofemployees[0].FirstName)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofemployees[0].LastName)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofemployees[0].Email)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofemployees[0].Contact)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listofemployees[0].Rank)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listofemployees[0].Salary)</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listofemployees)
                        {
                        <tr>

                            <th scope="row">
                                @Html.DisplayFor(modelItem => item.Id)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rank)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Salary)
                            </td>


                            <td>
                                @Html.ActionLink("Delete", "DeleteTourist", "Admin", new { id = item.Id }, new { @class = "btn btn-primary btn-responsive" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

