@model ExploreTandT.Models.UserAccountViewModel

@{
    ViewBag.Title = "RepaymentSchedule";
}

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount" style="color:black">Employee</h1>
        <div class="AdminAccount-form">


            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <a href="~/Account/Index/" type="button" class="btn btn-primary btn-responsive"> Back</a>
            <p class="listText" style="color:black">List of Repayment Schedule</p>

            <div class="table-responsive" style="color: #000000">
                <table class="table table-Simple">
                    <thead class="Column1" style="color:black">
                        <tr>

                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfRepaymentSchedule[0].Id)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfRepaymentSchedule[0].EmployeeId)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.listOfRepaymentSchedule[0].InstallementId)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfRepaymentSchedule[0].Amount)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfRepaymentSchedule[0].Date)</th>
                            <th scope="col"> @Html.DisplayNameFor(model => model.listOfRepaymentSchedule[0].Status)</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listOfRepaymentSchedule)
                        {
                            <tr>

                                <th scope="row">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstallementId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>

                               

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

